### 1. How to import pandas and check the version?

##### solution:

In [1]:
import pandas as pd
print(pd.__version__)

1.4.2

### 2. How to create a series from a list, numpy array and dict?

##### Input:

In [2]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

##### solution:

In [3]:
l=pd.Series(mylist)
a=pd.Series(myarr)
d=pd.Series(mydict)

### 3. How to convert the index of a series into a column of a dataframe?

##### Input:

In [6]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

##### solution:

In [10]:
df=ser.to_frame().reset_index()

### 4. How to combine many series to form a dataframe?

##### Input:

In [12]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

##### solution:

In [15]:
df=pd.DataFrame(ser1, ser2).reset_index()

### 5. How to assign name to the series’ index?

##### Input:

In [24]:
#Give a name to the series ser calling it ‘alphabets’.

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

##### solution:

In [25]:
ser=ser.rename_axis('alphabets')

### 6. How to get the items of series A not present in series B?

##### Input:

In [27]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

##### solution:

In [33]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

### 7. How to get the items not common to both series A and series B?

##### Input:

In [55]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

##### solution:

In [56]:
u=pd.Series(np.union1d(ser1, ser2))
i=pd.Series(np.intersect1d(ser1, ser2))
u[~u.isin(i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

### 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

##### Input:

In [52]:
ser = pd.Series(np.random.normal(10, 5, 25))

##### solution:

In [53]:
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([-8.68069443e-03,  7.83023492e+00,  9.42703204e+00,  1.29712770e+01,
        1.91578363e+01])

### 9. How to get frequency counts of unique items of a series?

##### Input:

In [45]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

##### solution:

In [49]:
ser.value_counts()

e    8
d    5
f    4
b    4
g    3
a    3
c    2
h    1
dtype: int64

### 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

##### Input:

In [66]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

##### solution:

In [67]:
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'

### 11. How to bin a numeric series to 10 groups of equal size?

##### Input:

In [71]:
ser = pd.Series(np.random.random(20))

##### solution:

In [72]:
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'])

0      3rd
1      7th
2     10th
3      4th
4      3rd
5     10th
6      7th
7      5th
8      2nd
9      9th
10     6th
11     9th
12     8th
13     2nd
14     1st
15     8th
16     5th
17     4th
18     1st
19     6th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

### 12. How to convert a numpy array to a dataframe of given shape? (L1)

##### Input:

In [77]:
#Reshape the series ser into a dataframe with 7 rows and 5 columns

ser = pd.Series(np.random.randint(1, 10, 35))

##### solution:

In [78]:
df=pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  4  5  4  5  6
1  2  8  1  6  3
2  1  8  6  6  9
3  9  4  6  3  8
4  9  6  5  1  3
5  9  3  6  6  4
6  4  7  7  8  3

### 13. How to find the positions of numbers that are multiples of 3 from a series?

##### Input:

In [84]:
ser = pd.Series(np.random.randint(1, 10, 7))

##### solution:

In [86]:
np.where(ser % 3 == 0)

(array([1, 3, 5, 6]),)

### 14. How to extract items at given positions from a series

##### Input:

In [69]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

##### solution:

In [70]:
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

### 15. How to stack two series vertically and horizontally ?

##### Input:

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

##### solution:

In [87]:
#vertical
ser1.append(ser2)

#horizontal
pd.concat([ser1, ser2], axis=1)

/var/folders/9f/z1j27l6n039g5q9tk3qxysx80000gn/T/ipykernel_25653/3199850593.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser1.append(ser2)

   0  1
0  1  4
1  2  5
2  3  6
3  4  7
4  5  8

### 16. How to get the positions of items of series A in another series B?

##### Input:

In [88]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

##### solution:

In [91]:
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

### 17. How to compute the mean squared error on a truth and predicted series?

##### Input:

In [92]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

##### solution:

In [95]:
print('mse:',np.mean((truth-pred)**2))

mse: 0.31832376151503505

### 18. How to convert the first character of each element in a series to uppercase?

##### Input:

In [96]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

##### solution:

In [97]:
ser.str.capitalize()

0     How
1      To
2    Kick
3    Ass?
dtype: object

### 19. How to calculate the number of characters in each word in a series?

##### Input:

In [98]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

##### solution:

In [99]:
ser.str.len()

0    3
1    2
2    4
3    4
dtype: int64

### 20. How to compute difference of differences between consequtive numbers of a series?

##### Input:

In [100]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

##### solution:

In [101]:
ser.diff().diff().tolist()

[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

### 21. How to convert a series of date-strings to a timeseries?

##### Input:

In [102]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

##### solution:

In [103]:
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

### 22. How to get the day of month, week number, day of year and day of week from a series of date strings?

##### Input:

In [125]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

##### solution:

In [126]:
from dateutil.parser import parse

ser=ser.map(lambda x: parse(x))

# day of the month
print('Date: ', ser.dt.day.tolist())

# week number
print('Week number: ', ser.dt.weekofyear.tolist())

# day of year
print('Day number of year: ', ser.dt.dayofyear.tolist())

# day of week
print('Day of week: ', ser.dt.day_name().tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

/var/folders/9f/z1j27l6n039g5q9tk3qxysx80000gn/T/ipykernel_25653/3556228820.py:9: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  print('Week number: ', ser.dt.weekofyear.tolist())

### 23. How to convert year-month string to dates corresponding to the 4th day of the month?

##### Input:

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

##### solution:

### 24. How to filter words that contain atleast 2 vowels from a series?

##### Input:

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

##### solution:

### 25. How to filter valid emails from a series?

##### Input:

emails = pd.Series(['buying books at amazom.com', 'raeses@egypt.com', 'matt@xyt.co', 'xyz@abc.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

##### solution:

### 26. How to get the mean of a series grouped by another series?

##### Input:

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weight.tolist())
print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

##### solution:

### 27. How to compute the euclidean distance between two series?

##### Input:

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

##### solution:

### 28. How to find all the local maxima (or peaks) in a numeric series?

##### Input:

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

##### solution:

### 29. How to replace missing spaces in a string with the least frequent character?

##### Input:

my_str = 'dbc deb abed gade'

##### solution:

### 30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

##### solution:

### 31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?

##### Input:

ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)
#> 2000-01-01     1.0
#> 2000-01-03    10.0
#> 2000-01-06     3.0
#> 2000-01-08     NaN
#> dtype: float64

##### solution:

### 32. How to compute the autocorrelations of a numeric series?

##### Input:

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

##### solution:

### 33. How to import only every nth row from a csv file to create a dataframe?

##### Input:

Import every 50th row of BostonHousing dataset as a dataframe.
csv file: "BostonHousing.csv"

##### solution:

### 34. How to change column values when importing csv to a dataframe?

##### Input:

Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.
csv file: "BostonHousing.csv"

##### solution:

### 35. How to create a dataframe with rows as strides from a given series?

##### Input:

L = pd.Series(range(15))

##### solution:

### 36. How to import only specified columns from a csv file?

##### Input:

Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.
csv file: "BostonHousing.csv"

##### solution:

### 37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.

##### Input:

Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. 
Also get the numpy array and list equivalent of the dataframe.
csv file: 'Cars93_miss.csv'

##### solution:

### 38. How to extract the row and column number of a particular cell with given criterion?

##### Input:

csv file: df = 'Cars93_miss.csv'

Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?

##### solution:

### 39. How to rename a specific columns in a dataframe?

##### Input:

Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.
csv file: df = 'Cars93_miss.csv'

##### solution:

### 40. How to check if a dataframe has any missing values?

##### Input:

csv file: 'Cars93_miss.csv'

##### solution:

### 41. How to count the number of missing values in each column?

##### Input:

Count the number of missing values in each column of df. Which column has the maximum number of missing values?
csv file: 'Cars93_miss.csv'

##### solution:

### 42. How to replace missing values of multiple numeric columns with the mean?

##### Input:

Replace missing values in Min.Price and Max.Price columns with their respective mean.
csv file: 'Cars93_miss.csv'

##### solution:

### 43. How to use apply function on existing columns with global variables as additional arguments?

##### Input:

use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.
csv file: 'Cars93_miss.csv'

##### solution:

### 44. How to select a specific column from a dataframe as a dataframe instead of a series?

##### Input:

Get the first column (a) in df as a dataframe (rather than as a Series).

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

##### solution:

### 45. How to change the order of columns of a dataframe?

##### Input:

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

1. In df, interchange columns 'a' and 'c'.
2. Create a generic function to interchange two columns, without hardcoding column names.
3. Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

##### solution:

### 46. How to set the number of rows and columns displayed in the output?

##### Input:

Change the pamdas display settings on printing the dataframe df it shows a maximum of 10 rows and 10 columns.
csv file: df = 'Cars93_miss.csv'

##### solution:

### 47. How to format or suppress scientific notations in a pandas dataframe?

##### Input:

Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

##### solution:

### 48. How to format all the values in a dataframe as percentages?

##### Input:

Format the values in column 'random' of df as percentages.
df = pd.DataFrame(np.random.random(4), columns=['random'])

##### solution:

### 49. How to filter every nth row in a dataframe?

##### Input:

From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).
csv file: 'Cars93_miss.csv'

##### solution:

### 50. How to create a primary key index by combining relevant columns?

##### Input:

Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.
csv file: 'Cars93_miss.csv'

##### solution:

### 51. How to get the row number of the nth largest value in a column?

##### Input:

Find the row position of the 5th largest value of column 'a' in df.
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

##### solution:

### 52. How to find the position of the nth largest value greater than a given value?

##### Input:

find the position of the 2nd largest value greater than the mean.
ser = pd.Series(np.random.randint(1, 100, 15))

##### solution:

### 53. How to get the last n rows of a dataframe with row sum > 100?

##### Input:

Get the last two rows of df whose row sum is greater than 100.
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

##### solution:

### 54. How to find and cap outliers from a series or dataframe column?

##### Input:

Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.
ser = pd.Series(np.logspace(-2, 2, 30))

##### solution:

### 55. How to reshape a dataframe to the largest possible square after removing the negative values?

##### Input:

Reshape df to the largest possible square with negative values removed. Drop the smallest values if need be. The order of the positive numbers in the result should remain the same as the original.
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

##### solution:

### 56. How to swap two rows of a dataframe?

##### Input:

Swap rows 1 and 2 in df.
df = pd.DataFrame(np.arange(25).reshape(5, -1))

##### solution:

### 57. How to reverse the rows of a dataframe?

##### Input:

Reverse all the rows of dataframe df.
df = pd.DataFrame(np.arange(25).reshape(5, -1))

##### solution:

### 58. How to create one-hot encodings of a categorical variable (dummy variables)?

##### Input:

Get one-hot encodings for column 'a' in the dataframe df and append it as columns.
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))

##### solution:

### 59. Which column contains the highest number of row-wise maximum values?

##### Input:

Obtain the column name with the highest number of row-wise maximum’s in df.
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

##### solution:

### 60. How to create a new column that contains the row number of nearest column by euclidean distance?

##### Input:

Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))

##### solution:

### 61. How to know the maximum possible correlation value of each column against other columns?

##### Input:

Compute maximum possible absolute correlation value of each column against other columns in df.
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))

##### solution:

### 62. How to create a column containing the minimum by maximum of each row?

##### Input:

Compute the minimum-by-maximum for every row of df.
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

##### solution:

### 63. How to create a column that contains the penultimate value in each row?

##### Input:

Create a new column 'penultimate' which has the second largest value of each row of df.
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

##### solution:

### 64. How to normalize all columns in a dataframe?

##### Input:

1. Normalize all columns of df by subtracting the column mean and divide by standard deviation.
2. Range all columns of df such that the minimum value in each column is 0 and max is 1.
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

##### solution:

### 65. How to compute the correlation of each row with the suceeding row?

##### Input:

Compute the correlation of each row of df with its succeeding row.
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

##### solution:

### 66. How to replace both the diagonals of dataframe with 0?

##### Input:

df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))

##### solution:

### 67. How to get the particular group of a groupby dataframe by key?

##### Input:

This is a question related to understanding of grouped dataframe. From df_grouped, get the group belonging to 'apple' as a dataframe.

df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])

##### solution:

### 68. How to get the n’th largest value of a column when grouped by another column?

##### Input:

In df, find the second largest value of 'taste' for 'banana'

df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

##### solution:

### 69. How to compute grouped mean on pandas dataframe and keep the grouped column as another column (not index)?

##### Input:

In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.

df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'taste': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

##### solution:

### 70. How to join two dataframes by 2 columns so they have only the common rows?

##### Input:

Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

##### solution:

### 71. How to remove rows from a dataframe that are present in another dataframe?

##### Input:

From df1, remove the rows that are present in df2. All three columns must be the same.

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

##### solution:

### 72. How to get the positions where values of two columns match?

##### Input:

df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

##### solution:

### 73. How to create lags and leads of a column in a dataframe?

##### Input:

Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).

df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

##### solution:

### 74. How to get the frequency of unique values in the entire dataframe?

##### Input:

df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

##### solution:

### 75. How to split a text column into two separate columns?

##### Input:

Split the string column in df to form a dataframe with 3 columns as shown.

df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

##### solution: