In [1]:
# Today's Agenda
#lambda
#built in function
#methods and packages
#exception handling
#unit testing

In [2]:
# lambda arguments : expression

In [3]:
def add(a,b):
    return a+b

In [4]:
add(78,89)

167

In [5]:
x=lambda a,b: a+b

In [6]:
print(x(45,56))

101

In [7]:
z=lambda x,y: x*y

In [8]:
z(45,45)

2025

Built-in functions

A

abs()
all()
any()

B

bin()
bool
bytes
bytearray()

C

callable()
compile()
complex()

D

dir()
dict()
delattr()

E
eval()
exec()

In [9]:
a=[78,56,89,56,25,68,456]

In [10]:
x=filter(lambda x:x%2==0,a)
list(x)

[78, 56, 56, 68, 456]

In [17]:
def even(a):
    if a%2==0:
        return a
x=filter(even,a)
list(x)

[78, 56, 56, 68, 456]

In [18]:
d=[78.8,89,56,26,258,456,9]

In [19]:
list(map(lambda x:x**2,))

[6209.44, 7921, 3136, 676, 66564, 207936, 81]

In [20]:
class A:
    def __init__(self,a):
        self.a=a
    def printme(self):
        return self.a
class b(A):
    def __init__(self,a,b):
        super().__init__(a)
        self.b=b

In [21]:
obj=b("hey", "python")

In [25]:
obj.printme()

'hey'

In [27]:
a=[1,2,3,4,5,6,7,8,9,10]

In [28]:
a=[1,2,3,4,5,6,7,8,9,10]
x=filter(lambda x:x%2==0,a)
list(map(lambda z:z**2, x))

[4, 16, 36, 64, 100]

In [29]:
def even_sqr(a):
    x=filter(lambda x:x%2==0,a)
    return list(map(lambda z:z**2, x))

In [30]:
even_sqr(a)

[4, 16, 36, 64, 100]

In [31]:
import pandas as pd
data=pd.read_csv('Bank_churn_modelling - Copy.csv')

In [32]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [33]:
# modules - python file .py

import os

In [34]:
os.getcwd()

'/Users/jude/Documents/fm_training'

In [35]:
%%writefile my_module.py

def add(a,b):
    """this program adds two numbers and returns the final result"""
    result = a+b
    return result

def multiply(a,b):
    """this program multiplies two numbers and returns the final result"""
    result = a*b
    return result

Writing my_module.py

In [36]:
import my_module as mm

In [37]:
mm.add(45,45)

90

In [38]:
from my_module import add

In [39]:
add(45,45)

90

In [40]:
from my_module import *

In [41]:
multiply(45,45)

2025

In [47]:
output = []
data = [78,45,45,'data','new',True,4525.25]
for x in data[::-1]:
    output.append(x)
print(output)

[4525.25, True, 'new', 'data', 45, 45, 78]

In [49]:
def sort(a):
    b=[]
    c=[]
    for i in range(len(a)):
        if type(a[i]) is int or type(a[i]) is float:
            b.append(a[i])
    for i in range(len(b)):
        c.append(min(b))
        b.remove(min(b))
    return c
print(sort(data))

[45, 45, 78, 4525.25]

In [53]:
data=[4525.25,True,'new','data',45,45,78]
while data:
    out=[]
    mv=data[0]
    for i in data:
        if str(i).isalpha():
            pass
        else:
            if i<mv:
                mv=i
    out.append(mv)
    data.remove(mv)

In [ ]:
# exception handling in python

# try:

# except:

# else:

# finally:

In [54]:
a=int(input('enter a value'))
b=int(input('enter b value'))
print(a/b)
print('done')

enter a value5
enter b value0

ZeroDivisionError: division by zero

In [55]:
a=int(input("enter a value"))
b=int(input("enter b value"))
try:
    print(a/b)
except:
    print("some exception")

enter a value5
enter b value0
some exception

In [56]:
a=int(input("enter a value"))
b=int(input("enter b value"))
try:
    c=a/b
except:
    print("some exception")

enter a value5
enter b value0
some exception

In [57]:
a=int(input("enter a value"))
b=int(input("enter b value"))
try:
    c=a/b
except:
    print("some exception")
else:
    print(c)
    print("no exception")

enter a value45
enter b value5
9.0
no exception

In [58]:
a=int(input("enter a value"))
b=int(input("enter b value"))
try:
    c=a/b
except:
    print("some exception")
else:
    print(c)
    print("no exception")
finally:
    d=a*b
    print("result: ",d)

enter a value4607
enter b value753
6.1181938911022575
no exception
result:  3469071

In [62]:
a=int(input("enter a value"))
b=int(input("enter b value"))
if a<b:
    print(a*b)
else:
    raise Exception("some exception")

enter a value7654
enter b value77

Exception: some exception

In [63]:
# list comprehension in python

In [64]:
# [Expression for item in iterable]

In [65]:
a=[78,45,56,25,48,8995,65,20,2]

In [66]:
out=[]
for i in a:
    if i%2==0:
        out.append(i)
print(out)

[78, 56, 48, 20, 2]

In [67]:
[i for i in a if i%2==0]

[78, 56, 48, 20, 2]

In [68]:
a=[5,2,6,8,9,7]

In [69]:
[i**2 for i in a]

[25, 4, 36, 64, 81, 49]

In [70]:
import random

In [71]:
random.randint(20,60)

39

In [72]:
list=[78,89.5,'data',45,True]

In [73]:
random.choice(list)

78

In [74]:
# Decorators in Python

In [82]:
def outer_function():
    def inner_function():
        print("i came from inner function")
    return inner_function()

In [83]:
outer_function()

i came from inner function

In [87]:
def main_function(func):
    func()
    print('main_function')

In [88]:
def action():
    print('new_function')

In [89]:
main_function(action)

new_function
main_function

In [90]:
def multi(x):
    return x*3.14
def divide(x):
    return x/3.14
def operate(fun,x):
    number=fun(x)
    return number

In [91]:
operate(multi,45)

141.3